/PleaseWork/.vs/PleaseWork/v16/*.suo
/PleaseWork/.vs/PleaseWork/config
.vs
app.js.map
PleaseWork.njsproj
bin
node_modules
obj
app.js
testharness.js.map
testharness.ts
tests.txt
Token.js
Token.js.map
Token.ts
Tokenizer.js
Tokenizer.js.map
Tokenizer.ts
tsconfig.json
Grammar.js
Grammar.js.map
Grammar.ts
package.json
package-lock.json
README.md
testcases.txt
testharness.js
